


    <!--Header on the main page-->
    <header class="app-header navbar" th:fragment="appHeader">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link fa fa-chart-bar fa-2x" href="/index" title="Back to main" data-toggle="tooltip" > </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/test/all" title="List of all your tests" data-toggle="tooltip">All tests</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" title="Detailed history of testing" data-toggle="tooltip">History</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/createTest" title="Start testing" data-toggle="tooltip">Start testing</a>
            </li>
        </ul>
    </header>


    <!--Footer on the main page-->
    <footer class="app-footer" th:fragment="appFooter" style="display: none">

    </footer>
